* {
	box-sizing: border-box;
}

.row {
	width: 100%;
	margin:auto;
}

header .container-float {
	width:100%;
}
.navbar-header {
	background-color:#ff6699;
	width:100%;
	padding-bottom: 10px;
}
.navbar-brand {
	padding-top: 25px;
}


.navbar-brand h1 { 
	color:#557c3e;
	font-size:1.5em;
	font-weight:bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggle,.navbar-header .icon-bar {
	border:1px solid #61122f;
}

h1 {
	font-size:2.5em;
	font-weight:bold;
	color: #ff1a1a;
}

p {
	padding:10px;
}


.row .container-float {
	height:500px;
	background-color: gray;
	margin-left: 2%;
	margin-right: 2%;
}

#collapsable-nav {
border-top:.5px solid #61122f;
}

#collapsable-nav li {
border-bottom:.5px solid #61122f;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
	
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	.row .container-float {
	margin-left: 10%;
	margin-right: 10%;
	}	
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	 .row .container-float {
		margin-left: 10%;
		margin-right: 10%;
		}	
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	.row .container-float {
		margin-left: 10%;
		margin-right: 10%;
		}	
	.navbar-brand {
		padding-top:10px;
	}

	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw; 
	}


}